@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 48px;
    width: 650px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    text-shadow:
    0 0 10px var(--white);
    letter-spacing: 2px;
}

h3 {
    font-size: 32px;
    font-family: 'Poppins';
}

h5 {
    font-size: 20px;
    font-family: 'Poppins';
}

p {
    font-size: 18px;
    font-family: 'Poppins';
}

.hero-background {
    width: 100%;
    position: relative;
    z-index: -1;
    display: block;
}

.title-section {
    position: absolute;
    top: 25%;
    left: 12.5%;
    color: var(--white);
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;

    a {
        font-family: 'Poppins';
        font-size: 20px;
        color: var(--white);
        text-decoration: none;
    }
}

.nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    box-sizing: border-box;
    position: absolute;
    top: 0;

    #logo {
        width: 120px;
    }
}

.sign-up {
    color: var(--dark-blue);
    background-color: var(--white);
    padding: 7.5px 60px;
    border-radius: 30px;
}

.button {
    background: linear-gradient(135deg, #195198, #002758);
    padding: 15px 60px;
    display: inline-block;
    border-radius: 30px;
    margin-top: 15px;
}

.functionalities {
    position: relative;
    background-image: url(images/backgrounds/functionalities.svg);
    background-size: contain;
    aspect-ratio: 1366/661;
    width: 100%;
    background-repeat: no-repeat;
    color: var(--white);
    padding: 125px 125px 0px;
    box-sizing: border-box;

    h5 {
        max-width: 540px;
    }
}

.role-buttons {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.role-button {
    width: 224px;
    height: 60px;
    background: linear-gradient(135deg, #00548f, #00548f);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: var(--white);
    text-decoration: none;
    transition: all 1s;
    font-weight: 100;
}

.role-button:target {
    background: linear-gradient(135deg, var(--dark-blue), #00548f);
    font-weight: 800;
}

.functionalities-explained {
    display: none;
    margin-top: 30px;
    width: 100%;
    height: 250px;
    background-color: var(--white);
    color: var(--dark-blue);
    border-radius: 30px;
    border: 2px solid var(--dark-blue);
    justify-content: space-evenly;
    align-items: center;

    p {
        width: 250px;
        text-align: center;
    }
}

.functionality {
    display: flex;
    height: 60%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px;
}

.vertical-line {
    height: 75%;
    border-radius: 5px;
    width: 1.6px;
    background-color: var(--dark-blue);
}

.square {
    width: 60px;
    height: 60px;
}

.role-buttons:has(#advertise:target) ~ #landlord-functionalities {
    display: flex;
}

.role-buttons:has(#search:target)  ~ #student-functionalities {
    display: flex;
}

.phone-container {
    width: calc(520px/2);
    height: calc(1030px/2);
    position: relative;
    transform: translateY(-15%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.phone {
    width: 100%;
    height: 100%;
    background-image: url(images/phone.png);
    background-size: cover;
    position: absolute;
}

.phone-background {    
    width: 90%;
    height: 95%;
    background-position: center;
    background-color: var(--white);
}

.phone-display {
    justify-content: end;
    width: 30%;
}

.advantage {
    border-radius: 100%;
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    transition: all 1s;
    text-align: center;
    margin: 0px -30px;


    .square {
        width: 120px;
        height: 120px;
        transition: all 1s;
    }

    p {
        width: 80%;
        font-size: 16px;
        transition: all 1s;
    }

    h3 {
        font-weight: 900;
        font-size: 32px;
        transition: all 1s;
    }
}

.advantages-section {
    display: flex;
    align-items: center;
    background-color: var(--blue);
    padding: 150px 0px;
    flex-direction: column;
    gap: 30px;
}

.carousel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 450px;
}

.advantage.main {
    width: 450px;
    height: 450px;
    z-index: 2;
}


.advantage.submain {
    width: 350px;
    height: 350px;
    opacity: 0.9;

    .square {
        width: 75px;
        height: 75px;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
        width: 75%;
    }
    z-index: 1;
}

.advantage.hide {
    width: 0px;
    height: 0px;
    margin: 0px;

    .square {
        width: 0px;
        height: 20px;
    }

    h3 {
        font-size: 0px;
    }

    p {
        font-size: 0px;
    }
    z-index: 0;
}

#previous, #next {
    width: 50px;
    height: 50px;
}

.advantages-button {
    width: 200px;
    height: 50px;
    background: linear-gradient(var(--blue), var(--blue)) padding-box,
              linear-gradient(to right, rgb(from var(--light-blue) r g b / 50%), var(--light-blue), rgb(from var(--light-blue) r g b / 50%)) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--white);
}